
<div class="advice-toolbar" role="banner">
   <div class="upper-top">
     <span>
       Welcome to the Advice App
      </span>
    </div>
   <div class="upper-top">
     <input id="elementId" class="search" placeholder="search advice..." autofocus  (keyup)="filteredListOptions()">
  
    </div>
</div>

<div class="advice-card" role="main">
   <h3>Advice for the day</h3>  
     <p>{{advice }}</p>
   <button type="button" class="btn" (click)="getAdvise()">
      I'm feeling lucky
   </button>
      <div id ="luckyAdvice" class="advice-card-header" ng-show="(click)= getAdvise()"></div>
</div>



<router-outlet></router-outlet>